html, body {
  height: 100%;
  width: 100%;
}
h1{
  color:aqua;
  font-size: 100px;
font-family: cursive;
}
h2{
  color:darkorchid;
  font-size: 100px;
  font-family:cursive;
}
#box{
  width:170px;
  height:120px;
  background-color:gray;
  color:coral;
  font-size: 18px;
  font-family:cursive
}